@import "nullstyle.scss";

$wt: 100%;

%boxmenu {
    background: #ffffff;
    width: 680px;
    height: 830px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    //border-radius: 20px;
    margin: 40px 5% 0 70px;
}
%boximage {
    width: 100%;
    height: 100%;
   // border-radius: 20px 20px 0px 0px;
}

%boxtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 16px;
    color: #000000;
    margin: 20px 25px;
}

%boxtext {
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
    color: #000000;
    margin: 25px 25px;
}

%boxtitleinfo {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #000000;
    margin: 25px 25px;
}

%boximgagelist {
    width: 100%;
    height: 100%;
    border-color: #ffffff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0%;
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif; 
}

header {
    
    height: 60px;
    width: $wt;
    ul {
        display: flex;       
        justify-content: center;
        height: 100%;
        padding: 20px 0 0 0;
        ul {
            display: none;
        }
        .open ul {
            display: block;
            height: 80px;
            position: relative;
            top: 20px;
            padding: 5px 0px 0px 0px;
            background-color: #d6d5d5;
            background: rgba(236, 236, 236, 0.5);
                li {
                    margin-top: 7px;
                    a {
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 14px;
                        color: #000000;
                        text-shadow: 1px 1px 1px #ffffff;
                    }
                }
                li:hover {
                    color: #85a3db;
                }
        }
        .link {
            color: #000000;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            margin: 0 10px;
            transition: 0.1s;
        }
        .link:hover {
            color: #85a3db;
        }      
    }
}
article {
    
    .bg-image {
        background-image: url(../image/menu.jpg);
        background-position: center;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        div {
            font-size: 68px;
            font-weight: 600;
            color: #ffffff;
            text-shadow: black 5px 5px 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 5%;
            ul {
                display: flex;
                .link {
                    font-size: 17px;
                    font-weight: 200;
                    color: #ffffff;
                    text-decoration: none;
                    text-shadow: black 5px 5px 5px;
                }
                .article-list-br {
                    box-shadow: 1px 1px #000000;
                    margin: 0 20px 0px;
                    background: #ffffff;
                    height: 5px;
                    width: 5px;
                    display: inline-block;
                    border-radius: 40%;
                }
            }
        }
    }  
}

nav {
    width: 100%;
    height: 1000px;
    .nav-info{
        width: 100%;
        height: 2%;
        display: flex;
        justify-content: space-around;
        .nav-title {
            margin-top: 30px;
            h2 {
                font-weight: 700;
                font-size: 18px;
                line-height: 16px;
                color: #000000;
            }
            p {
                @extend %boxtext;
                margin: 15px 0px;
            }
        }
    }
    .nav-box{
        margin-top: 100px;
        .nav-box123 {
            width: 100%;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            .nav-box1{
                width: 80%;
                height: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .nav-box2{
                width: 80%;
                height: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .nav-box3 {
                width: 100%;
                height: 100%;
                h2 {
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 16px;
                    color: #000000;
                    margin: 20px 25px;
                    margin: 10%;
                }
                p {
                    font-weight: 300;
                    font-size: 22px;
                    color: #000000;
                    margin: 10%;
                }
            }
        
            .nav-box4{
                width: 80%;
                height: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .nav-box45 {
            width: 100%;
            height: 400px;
            display: flex;

            .nav-box5 {
                width: 100%;
                height: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .nav-box6 {
                width: 70%;
                height: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    
                }
            }
            .nav-box7 {
                width: 70%;
                height: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

        }
    }
}

main {
    padding-right: 50px;
    margin: 0 100px 100px 100px;
}
.menu-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 16px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: rgb(206, 204, 204) 2px 2px 2px;
    }
.menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    
    margin-top: 2%;
    .menu-box12 {
        .menu-box1 {
            @extend %boxmenu;
            .box1-image {
                @extend %boximage;
            }
            .menu-list {
                width: 100%;
                ul {
                    display: flex;
                    justify-content: space-between; 
                    li {
                        list-style: none;
                        padding: 0.5%;           
                        img {
                              
                            @extend %boximgagelist;
                        }
                    }
                }
            }
            .box1-title {
                @extend %boxtitle;
            }
            .box1-text {
                @extend %boxtext;
            }
            .box1-title-info{
                @extend %boxtitleinfo;
                .box1-title-info-img {
                    width: 80px;
                    height: 12px;
                    margin-left: 20px;
                }
            }
        }
        .menu-box2 {
            @extend %boxmenu;
            img {
                @extend %boximage;
            }
            .menu-list2 {
                width: 100%;
                ul {
                    display: flex;
                    justify-content: space-between;           
                    li {
                        list-style: none;
                        padding: 0.5%;              
                        img {
                            @extend %boximgagelist;
                        }
                    }
                }
            }
            .box2-title {
                @extend %boxtitle;
            }
            .box2-text {
                @extend %boxtext;
            }
            .box1-title-info{
                @extend %boxtitleinfo;
                .box1-title-info-img {
                    width: 80px;
                    height: 12px;
                    margin-left: 20px;
                }
            }
        }
    }
    .menu-box34 {
        .menu-box3 {
            @extend %boxmenu;
            img {
                @extend %boximage;
            }
            .menu-list3 {
                width: 100%;
                ul {
                    display: flex;
                    justify-content: space-between;           
                    li {
                        list-style: none;   
                        padding: 0.5%;           
                        img {
                            @extend %boximgagelist;
                        }
                    }
                }
            }
            .box3-title {
                @extend %boxtitle;
            }
            .box3-text {
                @extend %boxtext;
            }
            .box3-title-info{
                @extend %boxtitleinfo;
                .box3-title-info-img {
                    width: 80px;
                    height: 12px;
                    margin-left: 20px;
                }
            }
        }
        .menu-box4 {
            @extend %boxmenu;
            img {
                @extend %boximage;
            }
            .menu-list4 {
                width: 100%;
                ul {
                    display: flex;
                    justify-content: space-between;           
                    li {
                        list-style: none;   
                        padding: 0.5%;           
                        img {
                            @extend %boximgagelist;
                        }
                    }
                }
            }
            .box4-title {
                @extend %boxtitle;
            }
            .box4-text {
                @extend %boxtext;
            }
            .box1-title-info{
                @extend %boxtitleinfo;
                .box1-title-info-img {
                    width: 80px;
                    height: 12px;
                    margin-left: 20px;
                }
            }
        }
    }
}


footer {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    .footer-manu {
        .footer-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .footer-left {
                margin-top: 20px;
                h2 {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 16px;
                    color: #000000;
                    margin: 20px 170px;
                    text-shadow: rgb(206, 204, 204) 2px 2px 2px;
                }
                ul { 
                    
                    li {
                        margin: 10px 170px;
                        a {
                            text-decoration: none; 
                            color: #000000;
                            font-size: 16px;
                            transition: 0.2s;
                        }
                        a:hover {
                            color: #85a3db;
                        }                         
                    }
                }
            }
            .footer-right {
                margin-top: 20px;
                h2 {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 16px;
                    color: #000000;
                    margin: 20px 115px;
                    text-shadow: rgb(206, 204, 204) 2px 2px 2px;
                }
                li {
                    margin: 10px 105px; 
                    font-size: 16px;

                }
            }
        }
        .footer-line {        
            position: absolute;
            width: 90%;
            height: 0px;
            border: 1px solid #a8a8a8;
            margin-left: 5%;
        }
        .footer-bot {
            font-size: 10px;
            margin: 20px 20px;
        }
    }
}


@import "styleAdaptiv.scss";
